export NODE_ENV=development
export BUN_ENV=development

# API Configuration
export PORT=3000
export PHOTO_DIRECTORY=/photos
export THUMBNAILS_DIRECTORY=./thumbnails

# Web Configuration
export VITE_API_URL=http://localhost:3000
