#include "Base.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.photobrain.app.debug
PRODUCT_NAME = PhotoBrain Debug
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
PHOTO_BRAIN_ENVIRONMENT = Debug
PHOTO_BRAIN_API_URL = http:/$()/localhost:3000
PHOTO_BRAIN_URL_SCHEME = photobrain-debug
INFOPLIST_PREPROCESSOR_DEFINITIONS = PHOTO_BRAIN_LOCAL_NETWORKING=1
