#include "Base.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.photobrain.app.preview
PRODUCT_NAME = PhotoBrain Preview
SWIFT_ACTIVE_COMPILATION_CONDITIONS = PREVIEW
PHOTO_BRAIN_ENVIRONMENT = Preview
PHOTO_BRAIN_API_URL = https:/$()/photobrain-api.ericj5.com
PHOTO_BRAIN_URL_SCHEME = photobrain-preview
INFOPLIST_PREPROCESSOR_DEFINITIONS = PHOTO_BRAIN_LOCAL_NETWORKING=0
