#include "Base.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.photobrain.app
PRODUCT_NAME = PhotoBrain
SWIFT_ACTIVE_COMPILATION_CONDITIONS = PRODUCTION
PHOTO_BRAIN_ENVIRONMENT = Production
PHOTO_BRAIN_API_URL = https:/$()/photobrain-api.ericj5.com
PHOTO_BRAIN_URL_SCHEME = photobrain
SWIFT_OPTIMIZATION_LEVEL = -O
INFOPLIST_PREPROCESSOR_DEFINITIONS = PHOTO_BRAIN_LOCAL_NETWORKING=0
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
